# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/Users/dawn/Creative Cloud Files/DawnM Own/Blog_Site/DawnM-Blog/myscripts.js