@charset "UTF-8";
/* CSS Document from W3Schools Blog Template*/

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Ubuntu;
  padding: 20px;
  background: #414042;
}

h1, h2, h3 {
  -webkit-margin-before: 0.3em;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  font-size: 40px;
  text-align: center;
  background: none;
  color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: /* #FFFDF5 */ rgba(255, 255, 255, 0.8);
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 2px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}